div.home-template{
    padding: 40px 15px;
}
.title {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
div.contact-list table .contact-actions {
    width: 80px;
    text-align: center;
}